* {
  margin: 0;
  padding: 0;
}

.table {
  background-color: rgba(255, 255, 255, 0.178);
}

.App {
  background-image: url('https://c.wallhere.com/photos/20/d3/2560x1440_px_AT_Death_Star_Night_Sky_space_Star_Wars-1347845.jpg!d');
  color: white;
  height: 100vh;
  text-align: center;


}

.filterone {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.tableHead {
  background-color: black;
}

.tableBody {
  background-color: rgba(0, 0, 0, 0.507);
}

.headTable {
  align-items: center;
  background-color: rgba(71, 93, 124, 0.521);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  margin: 18px;
  padding: 10px;
}

.starwars {
  color: black;
  font-size: 60px;
  margin: 0 auto;
  padding: 15px;
  text-shadow: -1px -1px 0 white , -1px 1px 0 white , 1px -1px 0 white , 1px 0 0 white;
}

input, button {
  background-color: rgba(255, 255, 255, 0.137);
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 12px;
  padding: 3px;
  text-align: center;
  width: 93px;


}

select {
  background-color: rgba(255, 0, 0, 0);
  border-bottom: 3px solid white;
  border-left: none;
  border-radius: 5px;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  color: white;
  font-size: 12px;
  padding: 3px;
  width: 93px;
}

option {
  color: black;
}

input:hover, select:hover, button:hover {
  border: 1px solid white;
}

.tbody {
  font-size: 14px;
  height: 70vh;
  overflow-y: auto;
  width: 100vw;
}
